html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  overflow: hidden;
  position: fixed;
  background-color: #eee;
  margin: 0;
}


#svg-el {
  height: 100vh;
  width: 100vw;
}

g {
  cursor: -webkit-grab;
  mix-blend-mode: multiply;
  transition: opacity 200ms linear;
  will-change: opacity;
}

g:hover {
  opacity: 0.8;
}

.held {
  cursor: -webkit-grabbing;
  opacity: 0.5;
}
