@import url(http://fonts.googleapis.com/css?family=Poiret+One|Arvo|Fredoka+One|Kreon|Luckiest+Guy|Limelight|Elsie);

html,
body {
  height: 100%;
  min-height: 100%;
}


body {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: fixed;
  font-family: sans-serif;
  background-color: #efefef;
  font-family: 'Kreon', serif;
//      font-family: 'Elsie', cursive;

}

.title-wrapper {
  width: 300px;
  float: left;
}

h1 {
  text-transform: uppercase;
  color: #444;
  font-size: 2.5em;
}

foreignObject {
}

.container {
  margin-left: -50%;
  position: absolute;
  left: 50%;
}

.pattern-def {
  width: 0;
  height: 0;
}

svg {
  height: 100vh;
  width: 100vw;
}

polygon {
  //-webkit-transition: /*transform 1000ms cubic-bezier(0.46,-0.12, 0.35, 1.07),*/ fill 200ms ease;
  //transition: /*transform 1000ms cubic-bezier(0.46,-0.12, 0.35, 1.07),*/ fill 200ms ease;
}


polygon {
  mix-blend-mode: multiply;
}

path {
  fill: none;
  stroke: none;
//      transform: rotate(-30deg);
}

[id='circ-0'] {
  //fill: url(#image);
}

a {
  transition: transform 150ms cubic-bezier(0.38,-0.27, 0.4, 1.10);
  transform-origin: 50% 50%;
  transition-delay: 0ms;
  cursor: pointer;
}
a:hover,
a:focus {
  transform: scale(1.2);
  /* polygon {
    fill: purple;
  } */
}
a.active {
  transition: all 550ms cubic-bezier(0.38,-0.27, 0.4, 1.2);
  transform: scale(10);// rotate(45deg);
}

.active polygon {
  mix-blend-mode: inherit;
}
.open a {
  //opacity: 0;
  //visibility: hidden;
}
.open .active {
  opacity: 1;
  visibility: visible;
  cursor: auto;
}
text {
  fill: #333;
  transition: all 200ms ease;
  text-anchor: middle;
  transition: all 200ms ease;
  transition-delay: 0ms;

}

a text {
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  paint-order: stroke;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

a:hover text,
a:focus text {
  opacity: 1;
  visibility: visible;
  opacity: 1;
  transition-delay: 200ms;
}
text a {
  fill: orange;
  transition: all 200ms ease;
}
text a:hover {
  fill: purple;
}