@import url(http://fonts.googleapis.com/css?family=Poiret+One|Arvo|Fredoka+One|Kreon|Luckiest+Guy|Limelight|Elsie);

html,
body {
  height: 100%;
  min-height: 100%;
}


body {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: fixed;
  font-family: sans-serif;
  background-color: #efefef;
  font-family: 'Kreon', serif;

}

.title-wrapper {
  width: 300px;
  //float: left;
}

h1 {
  text-transform: uppercase;
  color: #444;
  font-size: 2.5em;
}

foreignObject {
}

.container {
  margin-left: -50%;
  position: absolute;
  left: 50%;
}

svg {
  height: 100vh;
  width: 100vw;
}

polygon {
  //-webkit-transition: /*transform 1000ms cubic-bezier(0.46,-0.12, 0.35, 1.07),*/ fill 200ms ease;
  //transition: /*transform 1000ms cubic-bezier(0.46,-0.12, 0.35, 1.07),*/ fill 200ms ease;
}


polygon {

}

path {
  fill: none;
//  stroke: none;
}

/* [id='circ-0'] {
  //fill: url(#image);
} */

a {
  transition: transform 300ms cubic-bezier(0.38,-0.27, 0.4, 1.10);
  transform-origin: 50% 50%;
  transition-delay: 0ms;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &.active {
    transition: all 550ms cubic-bezier(0.38,-0.27, 0.4, 1.2);
    transform: scale(10);// rotate(45deg);
    cursor: auto;
  }

}


.active polygon {
  mix-blend-mode: inherit;
}
/* .open g {
  opacity: 0.2;
  &.active {
    opacity: 1;
  }
} */


a text {
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  paint-order: stroke;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

a:hover text,
a:focus text {
  opacity: 1;
  visibility: visible;
  opacity: 1;
  transition-delay: 300ms;
}

g {
  cursor: -webkit-grab;
  mix-blend-mode: multiply;

  &.held {
    cursor: -webkit-grabbing;
  }
}




text {
  fill: #333;
  transition: all 200ms ease;
  text-anchor: middle;
  transition: all 200ms ease;
  transition-delay: 0ms;
  mix-blend-mode: inherit;

}