
@font-face {
    font-family: 'rissa';
    src: url('/public/fonts/rissatypeface-webfont.eot');
    src: url('/public/fonts/rissatypeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/rissatypeface-webfont.woff2') format('woff2'),
         url('/public/fonts/rissatypeface-webfont.woff') format('woff'),
         url('/public/fonts/rissatypeface-webfont.ttf') format('truetype'),
         url('/public/fonts/rissatypeface-webfont.svg#rissatypefaceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
