/* ==========================================================================
   Imports
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Arvo|Fredoka+One|Kreon|Luckiest+Guy|Limelight|Elsie);
html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: fixed;
  font-family: sans-serif;
  background-color: #333;
  font-family: 'Kreon', serif;
}

.title-wrapper {
  width: 300px;
}

h1 {
  text-transform: lowercase;
  color: #eee;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  font-size: 3em;
  z-index: 1;
}

.container {
  margin-left: -50%;
  position: absolute;
  left: 50%;
}

svg {
  height: 100vh;
  width: 100vw;
}

path {
  fill: none;
}

/* [id='circ-0'] {
  //fill: url(#image);
} */
a {
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.38, -0.27, 0.4, 1.1);
          transition: transform 300ms cubic-bezier(0.38, -0.27, 0.4, 1.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  cursor: pointer;
}

a:hover, a:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

a.active {
  -webkit-transition: all 550ms cubic-bezier(0.38, -0.27, 0.4, 1.2);
          transition: all 550ms cubic-bezier(0.38, -0.27, 0.4, 1.2);
  -webkit-transform: scale(10);
          transform: scale(10);
  cursor: auto;
}

a.active polygon {
  fill: #4E9689;
}

/* .open g {
  opacity: 0.2;
  &.active {
    opacity: 1;
  }
} */
a text {
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  paint-order: stroke;
  stroke: #444;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

a:hover text,
a:focus text {
  opacity: 1;
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

g {
  cursor: -webkit-grab;
}

g.held {
  cursor: -webkit-grabbing;
  fill: pink;
}

text {
  fill: #fff;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  text-anchor: middle;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  mix-blend-mode: inherit;
}
